<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

   <header>
     <nav>
       <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#">Productos</a></li>
         <li><a href="#">Contacto</a></li>
      </ul>
     </nav>
   </header>

   <section>
      <article><img src="https://abrasivosveracruz.com.ar/wp-content/uploads/2015/10/DCD771.jpg" alt="taladro"></article>
      <article><img src="https://www.martinezescalada.com.ar/580-large_default/serrucho-carpintero-m-plastico-500-mm.jpg" alt="serrucho"></article>
      <article><img src="https://4.bp.blogspot.com/-2Tuwz9-IwqE/T47mWV62iJI/AAAAAAAAAAM/qTSUaWr815g/s1600/martillo.jpg  " alt="martillo"></article>
      <article><img src="https://http2.mlstatic.com/pinza-universal-con-aislante-6-pulgadas-labor-lab00300-D_NQ_NP_995384-MLA31021374028_062019-Q.jpg" alt="pinza"></article>
   </section>
   
   <footer>footer</footer>

  

  </body>
</html>
