<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Todo lo que tu mascota necesita</h1>
<img src="../public/images/paul2.jpg" alt="logo">
    <p><label for="">Busqueda por mascota</label></p>
    <select name="Mascota" id="">
      <option value="per">Perro</option>
      <option value="gat">Gato</option>
      <option value="tor">Tortuga</option>
      <option value="pez">Pez</option>
      <option value="con">Conejo</option>
    </select>
    <p>prueba de git hub</p>
    <p>prueba de git 2222 fff</p>
    <div>caja1</div>
    <div>caja2</div>
    <div>caja3</div>
    
    <s>line1</s>
    <s>line2</s>
    <s>line3</s>

  </body>
</html>
